body {
    background-size: cover;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

img {
    width: 70%;
    height: fit-content;
    border-radius: 100%;
    margin-left: 20px;
    box-shadow: 5px 5px 5px white;
}

h1 {
    font-size: 40px;
    color:blanchedalmond;
    padding: 30px 30px 30px;
    margin: 5px 5px 5px;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: blanchedalmond;
    text-align: justify;
}

#encabezado {
    border: 1px solid lightblue;
    padding: 2px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 5px 5px 5px lightblue;
    font-style: italic;
}

P {
    font-size: 25px;
    color: blanchedalmond;
    text-align: center;
    box-shadow: 5px 5px 5px lightblue;
    border: 1px solid lightblue;
    border-radius: 50px;
    padding: 10px;    
}

#listas {
    box-shadow: 5px 5px lightblue;
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}

a {
    font-size: 18px;
    color: blanchedalmond;
    text-align: justify;
    text-decoration: none;
}

#enlaces{
        text-align: center;
        display: inline-block;
        list-style: none;
    }

a:hover{
    color: gray;
}

img:hover{
    border: lightblue 5px  solid;
}

#listas:hover {
    border: 1px solid gray;
    box-shadow: 5px 5px gray;
}

P:hover {
    box-shadow: 5px 5px 5px gray;
    border: 1px solid gray; 
    color: gray;  
}

@media all and (max-width: 500px) {
    #todo{
        margin: 0px;
        padding: 0px;
    }

    img{
        border: 2px solid lightblue;
        width: 100px
    }

    h1,p,a{
        font-size: 18px;
        text-align: center;
    }

    #enlaces{
        text-align: center;
        display: inline;
    }
}