*{
}

body {
  background-color: #F1F0FF;
}

h1 {
    text-align: center;
}

img {
    border: 5px solid black;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 5px;
    border-left: 5px solid red;
    padding: 5px;
}

p:first-child {
    background-image: url(../images/fondoParrafo.png);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 5px 10px gray;
    
}
p:nth-child(2){
    background-color: #C3C3E5;
    border: 5px dashed black;
    box-shadow: 5px 5px 10px gray;
  }

p:last-child{
    background-color: #C3C3E5;
    border: 5px dashed black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 10px gray;
}
#header {
  background-color:#C3C3E5;
  border-bottom: 5px solid black;
  margin: 5px;
}

#content{

}

#text {
  text-indent: 40px;
}

#text p {
  
}

#text p:first-child {
    border: 5px dashed black;
}

#text p:last-child {
    border: 5px dashed black;
}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{
    text-align: center;
    color: white;
    background-color: #443266;
    border-top: 5px solid black;
}

#footer a{
    color: white;
}

#footer a:hover{

}
#image {
    text-align: right;
}

@media all and (max-width: 500px) {

}
