* {
    margin: auto;
    width: 100%;
}

body {
    background-color: #162B4E;
}

#menu-principal {
    background-color: #EDE8D0;
    height: 50px;
    display: flex;
    align-items: center;
    color: BLACK;
}

li {
    display: inline;
    margin: 0px 15px;
}

#redes, #hardware, #iso, #lenguajes-de-marcas, #base-de-datos {
    background-color: #EDE8D0;
    color: BLACK;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px black;
}