.padre1, .padre2, .padre3, .padre4, .padre5 {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
}

.hijo1, .hijo2, .hijo3, .hijo4, .hijo5, .hijo6, .hijo7, .hijo8, .hijo9, .hijo10 {
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hija {
    border: 2px solid orange;
}