.padre {
    box-shadow: 5px 5px solid black;
    border: 2px solid black;
    display: flex;
    background-color: slategrey;
}

.hijo {
    background-color: beige;
    width: 100PX;
    height: 100PX;
}