body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 800px;
}
.card {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 40%;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: lightgrey;
}

.avatar {
    width: 90px;
    height: 90px;
    background: #3498db;
    border-radius: 50%;
    border: 2px solid black;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.stats {
    display: flex;
    justify-content: space-around; 
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    display: flex; 
    width: 100%;
    gap: 10px;
}

.btn-primary {
    flex-grow: 2; 
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-secondary {
    flex-grow: 1; 
    background: #ecf0f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}