*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background: url('/FLOAT/practica5.2/images/Fondo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 80px;
}

h1, h2 {
  text-align: center;
}

img {
  margin: 10px;
  width: 450px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #cc0000;
  border-bottom: 5px solid #000000;
  border-top: 5px solid #000000;
  color: white;
  padding-top: 10px;
}


#menu {
  
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;  
  background-color: #cc0000;
  border: 1px solid #000000;
  font-size: 1.2em;
  z-index: 1500;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline-block;
  padding-left: 8px 10px; 
}

#menu li a:hover{
  display: inline;
  padding-left: 5px;
  background-color: #a30000;  
}

#redes-sociales {
    float: right;
    width: 10%;
    margin-right: 20px;
    margin-top: 30px;
}

#sociales {
  display: inline-block;
  width: 40px;
  margin: 0 auto 15px auto;
  float: none;
}


#footer{
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #cc0000;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #000000;
  background-color: #a30000;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}


#imageLeft {

  float: left;
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {

  float: right;
  text-align: center;
  padding-bottom: 5px;
}

#textMain {
  width: 100%;
  padding: 20px;
  clear: both;
}

#imageToHide {
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

#textCookie {
  text-align: center;
}

#cookieEU {

  border-radius: 50px;
  position: fixed;
  margin-top: 30%;  
  margin-left: 5%;  
    margin-right: 5%;  
  border:2px solid #cc0000;
  background-color: rgba(0,0,0,0.75);
  color: #fcffff;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px rgba(255,255,255,0.20);
}

#textOverflow {

  width: 75%;
  overflow-y: scroll;
  height: 350px;
  text-align: justify;
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.20);
  background-color: rgba(0,0,0,0.65);
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}

#textCentral {
  background-color: rgba(0,0,0,0.65);
  color: #fcffff;
  border: 2px solid rgba(255,255,255,0.20);
  border-radius: 15px;
  padding: 15px;    
}

.button {
  	background-color: #cc0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  background-color: #a30000;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media all and (max-width: 500px) {
  #imageLeft {

    float: none;
    text-align: center;
    padding-bottom: 5px;
  }

  #imageRight {

    float: none;
    text-align: center;
    clear: both;
  padding-bottom: 5px;
  }
  
  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
  float: none;

    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
  
  #header {
    margin-top: 50px;
  }
}

@media all and (max-width: 300px) {
  #header {
    
    margin-top: 100px;
  }
}