@import url('style.css');
.principal
{
    overflow: auto;
    border: 5px black solid;
}
.izquierda {
    float: left;
    background-color: lightgray;
    padding: 10px;
}

.derecha {
    float: right;
    background-color: lightgray;
    padding: 10px;
}

