@import url('style.css');
.flota {
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

.especial {
    position: relative;
    display: inline-block;    
}
.normal {
    position: normal;
    display: inline-block;    
}
