/*
    CSS para el examen

    colores:

    fondo: white;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {

}

.header {

}

.container {

}

.ticktocker, .footer {

}
.footer {

}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;

    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.ticktocker .images {


    width: 150px;
    height: 150px;    
    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.ticktocker h2 {
    color:black;
    font-size: 1.5em;
    margin: 10px 0;
}

.ticktocker p {
    color: black;
    font-size: 1em;
}

#menu {
    
}

li {

}

#menu a {

}

#menu a:hover {

}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}

.button:hover {

}

@media all and (max-width: 700px) {
    .imageHome {
        width: 50%;
        height: auto;
    }
}
